<style type="text/css">
    .content-header {
        margin-bottom: 10px;
        line-height: 70px;
    }

    .rows {
        display: block;
        min-height: 40px;
        width: 100%;
        margin-bottom: 10px;

    }
    .form-group{
        height: 40px;
        margin-bottom: 10px;
    }

    p {

        float: left;
        line-height: 40px;
        margin-right: 30px;
        width: 100px;

    }

    .bill {
        width: 430px;
        height: 224px;
        margin-top: 20px;
        background-color: darkgrey;
        text-align: center;
        line-height: 204px;
        /*opacity: 0.6;*/
        cursor: pointer;
        position: relative;

        /*color: white;*/

    }

    .bill img {
        width: 100%;
        height: 100%;
        /*z-index: -1;*/
        opacity: 0.7;
        left: 0;
        position: absolute;
        /* display: none;*/
    }

    .btn {
        float: left;
        margin-left: 15px;
    }
    #editTab{
        margin-top: 10px;
        position: absolute;
        right: 20px;
        /*bottom: 10px;*/

    }
    #addTab{
        right: 130px;
        position: absolute;
        margin-top: 10px;
    }
    #deleteTab{
        right:230px;
        position: absolute;
        margin-right: 30px;
    }
</style>
<section class="content-header">
    <div class="rows">
        <p style="float: left">赛事名:</p>

        <div class="col-xs-4"><input type="text" class="form-control" placeholder="输入赛事名" id="compete_name"
                                     required="required"></div>
    </div>
</section>


<section class="content" style="margin-top: 10px">
    <div class="rows" id="status">
        <p>赛事状态:
        </p>
        <button class="btn btn-primary" id="0">赛后展示</button>
        <button class="btn btn-primary" id="1">正在报名</button>
        <button class="btn btn-primary" id="2">报名结束</button>
    </div>
    <div class="rows">
        <p>主办方:</p>

        <div class="col-xs-4"><input type="text" class="form-control" value="" id="host"
                                     required="required"></div>
    </div>
    <div class="rows">
        <p>赛事地点:</p>

        <div class="col-xs-4"><input type="text" class="form-control" value="" id="address"
                                     required="required"></div>
    </div>
    <div class="rows">
        <p style="float: left">赛事时间:</p>

        <div class="col-xs-4"><input type="text" class="form-control" value="" id="time"
                                     required="required"></div>
    </div>
    <div class="rows" id="register">
        <p>赛事线上报名:</p>
        <button class="btn btn-primary" id="0">无</button>
        <button class="btn btn-primary" id="1">有</button>
    </div>
    <div class="rows">
        <p style="float: left">赛事官网链接:</p>

        <div class="col-xs-4"><input type="text" class="form-control" value="" id="compete_url"
                                     required="required"></div>
    </div>
    <div style="border-bottom:1px solid darkgrey;"></div>
</section>
<input type="file" id="pic1" style="display: none">
<input type="file" id="pic2" style="display: none">
<input type="file" id="pic3" style="display: none">
<section class="content">
    点击上传赛事海报:
    <div class="bill" id="onebill">
        <img src="" id="img1">
    </div>
    <div class="bill" id="twobill">
        <img src="" id="img2">
    </div>
    <div class="bill" id="threebill">
        <img src="" id="img3">
    </div>
</section>

<div style="border-bottom:1px solid darkgrey;"></div>
<section class="content" style="position: relative">
    <ul id="myTab" class="nav nav-tabs">
    </ul>
    <div id="myTabContent" class="tab-content">

    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header" style="min-height: 70px">
                    <label for="recipient-name" class="control-label" style="float: left;margin-right: 30px;margin-top: 10px">输入栏目名:</label>
                    <input type="text" class="form-control" id="tag_name" style="float: left;width: 50%">
                    <button type="button" class="btn btn-primary" id="addTabVideo" style="float: left">添加栏目视频</button>
                </div>
                <div class="modal-body" style="min-height: 150px">
                    <form>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="publish">确认修改</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="editTab">编辑本栏目</button>
    <button class="btn btn-primary" id="addTab" data-toggle="modal" data-target="#editModal">添加新栏目</button>
    <button class="btn btn-primary" id="deleteTab">删除本栏目</button>
</section>

<!--<script src="jquery.js"></script>-->
<script type="text/javascript" src="/plugins/My97DatePicker/WdatePicker.js"></script>

<script>
    var status =<%= data.status %>;
    var data=<%-JSON.stringify(data)%>;
    // console.log(data);

</script>