<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Informations</title>
    <link href="stylesheets/Informationdetails.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="img">
    <img src="../images/200821991449659_2.jpg" class="img1">
</div>
<div >
    <h1 class="h1">为了让每个人都能连上网,扎克伯格都做了哪些努力?</h1>
    <section>
        <p >风发军少爱不?女为一父牛利和部然成老远</p>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute</p>
        </section>
    </section>
</div>
</body>
</html>