<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <!--引入全局样式-->
        <link rel="stylesheet" href="/stylesheets/style-iframe.css" />
        <link rel="stylesheet" href="/stylesheets/biz/auth/auth.css" />

        <link rel="stylesheet" href="/javascripts/bui/css/bs3/bui.css" />
        <link rel="stylesheet" href="/javascripts/bui/css/bs3/dpl.css" />

        <!-- 引入Kissy-1.4.7 seed -->
        <script src="http://g.alicdn.com/kissy/k/1.4.7/seed-min.js" data-config="{combine:false}"></script>

        <script src="/javascripts/bui/adapter-min.js"></script>

        <script src="/javascripts/lib/acharts-1.0.14.min.js"></script>

    </head>
    <body style="overflow-x: hidden">
    <%- body%>
    </body>
</html>