<link rel="stylesheet" href="/stylesheets/biz/auth/managerlist.css" />

    <div class="main">
        <div class="div-row">
            <div class="role-div">
                <label  class="rolelabel1">管理员列表</label>
                <a href="/auth/addmanagerlist"><button class="rolebtn1" >添加管理员</button></a>
            </div>
            <div class="rolerow2" > </div>
            <div id="gcontrol-grid" style="margin-top: 8px; width: 99%; margin-left: 6px; margin-right:6px;"></div>
            <div id="pagebar"></div>
        </div>
    </div>


<script type="text/javascript">
    KISSY.use(['io','bui/grid','bui/data','bui/overlay'],function(S,IO,Grid,Data,overlay){
        var $ = S.all;
        var Grid = Grid,
                Store = Data.Store,
                  columns = [{title : 'ID',dataIndex :'user_id',elCls:"center",visible:false},
                      {title : 'rolename',dataIndex :'role_name',elCls:"center",visible:false},
                      {title : '账户名',dataIndex :'login_name',elCls:"center",sortable : false,width:150},
                      {title : '手机号',dataIndex : 'mobile',elCls:"center",sortable : false,width:150},
                      {title : 'Email',dataIndex : 'email',elCls:"center",sortable : false,width:200},
//                      title : '用户名',dataIndex :'managername',width:'100px'},
//                    {title : 'Email地址',dataIndex : 'emailaddress',width:'200px'},
//                    {title : '加入时间',dataIndex : 'jointime',width:'200px'},
//                    {title : '最后登录时间',dataIndex : 'lastlogintime',width:'200px'},
                    {title : '操作',width:200,elCls:"center",sortable : false,renderer:function(value,obj,index) {
                        if(obj.role_name == "admin")return "";
                        return "<a href='/auth/updatemanager?uid="+obj.user_id+"'>编辑</a>-" +
                                "<a href='javascript:;' class='deladmin' uid='"+obj.user_id+"'>移除</a>";
                    }}


                ];

        var store = new Store({
            url : '/api/getAdmin',
            autoLoad:true, //自动加载数据
            proxy : {//设置请求相关的参数
                method : 'get',
                dataType : 'json', //返回数据的类型
                limitParam : 'rows', //一页多少条记录
                pageIndexParam :'page', //页码
                startParam : 'startNum', //起始记录
                pageStart : 1
            },
            root : 'rows',
            totalProperty : 'total',
            pageSize:10  // 配置分页数目
        });

        var confimDialog = function(uid) {
            window.parent._Confirm('确认要删除吗？',function(){
                IO.get("/api/delAdminById",{uid:uid},function(data) {
                    window.parent._Alert(data.msg,data.code==0?'success':'error');
                    if(data.code==0){
                        store.load();
                    }
                });
            },'question');
        };

        var grid = new Grid.Grid({
            render:'#gcontrol-grid',
            idField : 'id', //自定义选项 id 字段
            columns : columns,
            loadMask: true, //加载数据时显示屏蔽层
            frontSortable:false,//是否进行前台排序
            innerBorder: true, // 默认为true
           // width:'100%',//这个属性一定要设置
            forceFit : true, //自适应宽度
            store: store,
            itemStatusFields : { //设置数据跟状态的对应关系
               selected : 'selected',
                disabled : 'disabled'
            },

         //      plugins : [Grid.Plugins.CheckSelection],// 插件形式引入多选表格,自适应宽度Grid.Plugins.AutoFit
            emptyDataTpl : '<div class="centered"><img alt="Crying" src="http://img03.taobaocdn.com/tps/i3/T1amCdXhXqXXXXXXXX-60-67.png"><h2>查询的数据不存在</h2></div>',
            // 底部工具栏
            bbar:{
                // pagingBar:表明包含分页栏
                pagingBar:true
            },
            cellclick:true,
            listeners : {
                aftershow : function() {
                    $(".deladmin").on("click",function(e){//删除事件
                        var uid = $(this).attr('uid');
                        confimDialog(uid);
                    });
                }
            }
        });
        grid.render();
    });
</script>