<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>核舞器</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <% include ../layout/layout.ejs%>

</head>
<body class="skin-blue">
<input type="hidden" value="<%= active%>" id="active">
<div class="wrapper">

    <% include ../layout/header.ejs %>
    <% include ../layout/sidemenu.ejs %>
    <div class="content-wrapper">
        <%- body%>
    </div>

    <% include ../layout/foot.ejs %>

</div>
</body>
</html>