<!DOCTYPE html>
<html>
<head>
    <style>
        *{
            margin: 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>核舞器</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
</head>
<body>
<%- body%>
</body>
</html>