<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            客服管理
            <small>服务号的多客服管理</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-wechat"></i> 微信设置</li>
            <li class="active">客服管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">



    </section><!-- /.content -->
</div><!-- /.content-wrapper -->