<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ActiveDetails</title>
    <link href="/css/biz/hackerwechat/Activitiesdetails.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="/images/hackerwechati/200821991449659_2.jpg" class="img1">
</div>
<div>
    <h1>项目名称:核武器</h1>
    <!--<p>发起人:</p>-->
    <p>项目介绍:..............</p>
    <p>招募合伙子:ios开发工程是</br>产品经历</br>产品运营</p>
    <p>职位要求:........</p>
</div>
<a href="/hackerwechat/Groupregist"><button class="btn">立即报名</button></a>
</body>
</html>