<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>EventRegist</title>
    <link href="/css/biz/hackerwechat/eventRegist1.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="content">
    <div class="registInfo">
        <img src="/images/hackerwechati/resume_title.png">
        <h4 class="title-text">请填报报名信息</h4>
    </div>
    <div class="gzhName">
        <input type="text" placeholder=" 请输入您所创建的公众号名称">

    </div>
    <div class="zghClass">
        <div class="zghclass">
            <img src="/images/hackerwechati/read.png" style="position: relative;top: 5px;left: 3%;">
            <span>选择微信公众号类别</span>
            <div class="choiceBtn">
                <input type="button" value="技术互联网" class="internet" id="btn_1" onclick="changeColor('1')">
                <input type="button" value="生活文艺" class="lifeArt" id="btn_2" onclick="changeColor('2')">
                <input type="button" value="健康运动" class="sport" id="btn_3" onclick="changeColor('3')">
                <input type="button" value="八卦杂谈" class="Gossip" id="btn_4" onclick="changeColor('4')">
                <input type="button" value="媒体阅读" class="mediaread" id="btn_5" onclick="changeColor('5')">
                <input type="button" value="艺术影画" class="artPicture" id="btn_6" onclick="changeColor('6')">
                <input type="button" value="吃喝生活" class="eatLife" id="btn_7" onclick="changeColor('7')">


            </div>
        </div>
    </div>
    <div class="teamInfo">
        <img src="/images/hackerwechati/resume_title.png">
        <span class="info-text">请填写团队成员信息</span>

    </div>
    <div class="Number1">
        <div class="number1" id="number1">
            <span class="number1-text">成员1</span>
            <span class="rightImg"></span>
        </div>
    </div>
    <div class="number1-info" id="number1-info">
        <input class="relName" type="text" placeholder=" 请输入您的真实姓名">
        <input class="telephone" type="text" placeholder=" 请输入您的联系电话">
        <input class="Email" type="email" placeholder=" 请输入您的电子邮箱地址">
    </div>
    <div class="Number2" id="n2">
        <div class="number2" id="number2">
            <span class="number2-text">成员2</span>
            <span class="rightImg"></span>
        </div>
    </div>
    <div class="number2-info" id="number2-info">
        <input class="relName" type="text" placeholder=" 请输入您的真实姓名">
        <input class="telephone" type="text" placeholder=" 请输入您的联系电话">
        <input class="Email" type="email" placeholder=" 请输入您的电子邮箱地址">
    </div>
    <div class="Number3" id="n3">
        <div class="number3" id="number3">
            <span class="number3-text">成员3</span>
            <span class="rightImg"></span>
        </div>
    </div>
    <div class="number3-info" id="number3-info">
        <input class="relName" type="text" placeholder=" 请输入您的真实姓名">
        <input class="telephone" type="text" placeholder=" 请输入您的联系电话">
        <input class="Email" type="email" placeholder=" 请输入您的电子邮箱地址">
    </div>
    <div class="addNum">
        <div class="addnum" id="addnum">
            <span class="addnum-text">添加成员</span>
            <span class="rightImg"></span>
        </div>
    </div>

</div>
<div class="apply">
    <input type="button" class="applyBtn" value="立即报名">
</div>

</body>
<script>
    var jscript = "<%=jscript%>";
</script>
<!-- RequireJs -->
<script src="/js/require.js" defer async="true" data-main="/js/main.js"></script>
</html>