<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Hackerinfo</title>
    <link rel="stylesheet" type="text/css" href="/css/biz/hackerwechat/hackerInfo.css">
</head>
<body>
<div class="hacker-header">
    <div class="header-div">
        <p class="header-text">自媒体专研班活力开启</p>
    </div>

    <div class="infoDetail">
        <div class="detail-left">
            <p class="teacher">关于自媒体专研班的简短介绍</p>
            <div class="left-down">
                <img src="/images/hackerwechati/pinpoint%202.png">
                <span class="place">联合大厦A座3单元207</span>
                <img src="/images/hackerwechati/time.png" style="position: relative;right: 13px">
                <span class="time">2016/03/19</span>
            </div>

        </div>
        <div class="detail-right">
            <p class="applyTime">报名截止至2016年3月12日</p>
            <div >
                <!--<a class="apply-text" href="#">立即报名</a>-->
                <a href="/Hackerwechat/Groupregist"><button class="applyBtn">立即报名</button></a>
            </div>
        </div>

    </div>
</div>

<div class="content" onclick="window.location.href= '/Hackerwechat/ActivitiesDetails';return true">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>
    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>


</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>

</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">

    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
</body>
<script>
    var jscript = "<%=jscript%>";
</script>
<!-- RequireJs -->
<script src="/js/require.js" defer async="true" data-main="/js/main.js"></script>
</html>