<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Hackerinfo</title>
    <link rel="stylesheet" type="text/css" href="/css/biz/hackerwechat/hackerInfo.css">
</head>
<body>
<div class="hacker-header">
    <div class="header-div">
        <p class="header-text">十年之后,在就业市场中人工智能会扮演什么样的角色?</p>
    </div>

    <div class="infoDetail">
        <div class="detail-left">
            <p class="teacher">主讲人: 肖剑</p>
            <div class="left-down">
                <img src="/images/hackerwechati/pinpoint%202.png">
                <span class="place">联合大厦A座3单元207</span>
                <img src="/images/hackerwechati/time.png">
                <span class="time">2016/03/19</span>
            </div>

        </div>
        <div class="detail-right">
            <p class="applyTime">报名截止至2016年3月12日</p>
            <div class="applyBtn">
                <!--<a class="apply-text" href="#">立即报名</a>-->
                <input class="apply-text" type="button" value="立即报名">
            </div>
        </div>

    </div>
</div>

<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="/images/hackerwechati/info.jpg">
    </div>
    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>


</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="/images/hackerwechati/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>

</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="/images/hackerwechati/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="images/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="images/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="images/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="images/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>
<div class="content">
    <div class="dec">
        移动互联网
    </div>
    <div class="image">
        <img src="images/info.jpg">
    </div>

    <div class="text">
        <h4 class="text1">为了让每个人都能连上网，扎克伯格都做了哪些努力?</h4>
        <p class="text2">
            和谷歌一样,Facebook也想通过无人机为地球提供上网服务,
            毕竟全球还有三分之二的人没...
        </p>

    </div>
</div>







</body>
</html>