<style type="text/css">
    .search-header{
        margin-left: 30px;
        position: relative;
        height: 160px;
        margin-top: 30px;
    }

</style>
<div class="search-header">
    <button type="button" class="btn btn-primary btn-lg" style="margin-top: 40px">新增社团</button>

</div>


<section class="content">

    <div class="role_content">
        <table class="table_list" id="table_my_toast"></table>
        <!-- 分页框 -->
        <div class="page_control" id="paging_my_toast"><ul></ul></div>
    </div>
</section><!-- /.content -->