.login-main {
  margin-top: 100px;
}
.login-head {
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
}
.login-head a > img {
  width: 85px;
  height: 32px;
  vertical-align: middle;
}
.login-head > .title {
  border-left: 1px solid #dddddd;
  padding-left: 10px;
  color: #919191;
  font-size: 20px;
  position: absolute;
  left: 95px;
  top: 10px;
  height: 30px;
  line-height: 30px;
}
.login-body {
  margin-top: 20px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.btn-submit {
  background-color: #00acb2;
  border-color: #00acb2;
  width: 100%;
  color: #fff;
  outline: none;
  border: none;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit.focus,
.btn-submit:active,
.btn-submit.active {
  color: #fff;
}
.regist {
  position: absolute;
  right: 5px;
  top: 0;
}
.fpassword {
  padding-top: 7px;
}
.captcha {
  height: 40px;
}
.form-control {
  height: 40px;
  margin-bottom: 5px;
}
.has-error > span {
  color: #a94442;
}

.captcha > img{
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.login-body-right {

}
.quick-code {
  background-color: #FFF;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.quick-code > img {
}
.text-app {
  margin-top: 10px;
  font-size: 18px;
}
.text-note {
  font-size: 12px;
  margin-bottom: 10px;
}
.characters{
    padding-right: 5px;
    color: #95040e;
}
.bottom-img{
    margin-top: 29%;
}

.verify-error{
  color:red;
}
.fy_name{
  color: black;
  font-size: 20px;
}
.fy_logo{
  margin-left: 59px;
}
.fy_name_pt{
  margin-left: 59px;
  margin-top: 12px;
}
