
<div >
<header class="main-header bac-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <label style="color:white;font-size:20px;">核舞器 后台</label>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">核舞器</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">


                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/images/user.png" class="user-image userImg" alt=""/>
                        <span class="hidden-xs username">核舞器</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/images/user.png" class="img-circle head-img userImg" alt="" />
                            <p>
                                <span class="username">核舞器</span>
                                <small>注册日期&nbsp;&nbsp; <span class="createdDate">0000-00-00</span></small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat" id="modPwdBtn">修改密码</a>
                            </div>
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-primary btn-flat">退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
</div>