<style>
    .treeview{display:block;}

</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu">
            <li class="treeview"  data-id="1">
                <a href="/hewuqi/videos">
                    <i class="fa fa-gift"></i>
                    <span>视频管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        <li class="videolist"><a href="/hewuqi/video"><i class="fa fa-caret-right"></i>普通视频</a></li>
                        <li class="course_video"><a href="/hewuqi/course_video"><i class="fa fa-caret-right"></i>课程视频</a></li>
                        <li class="club"><a href="/hewuqi/club"><i class="fa fa-caret-right"></i>社团视频</a></li>
                        <!--<li class="userImport"><a href="/chaofan/userImport"><i class="fa fa-caret-right"></i>导入</a></li>-->
                    </ul>
                </a>
            </li>
            <li class="treeview"  data-id="2">
                <a href="/hewuqi/users">
                    <i class="fa fa-files-o"></i>
                    <span>用户管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        <li  class="userlist"><a href="/hewuqi/userlist"><i class="fa fa-caret-right"></i>普通用户</a></li>
                        <li class="teacherlist"><a href="/hewuqi/teacherlist"><i class="fa fa-caret-right"></i>导师用户</a></li>
                    </ul>
                </a>
            </li>
            <li class="treeview"  data-id="3">
                <a href="/hewuqi/competes">
                    <i class="fa fa-files-o"></i>
                    <span>赛事管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        <li  class="competes"><a href="/hewuqi/competes"><i class="fa fa-caret-right"></i>赛事列表</a></li>
                        <li class="addCompete"><a href="/hewuqi/addCompete"><i class="fa fa-caret-right"></i>新增赛事</a></li>
                    </ul>
                </a>
            </li>
            <li class="treeview"  data-id="4">
                <a href="/hewuqi/showsquares">
                    <i class="fa fa-files-o"></i>
                    <span>秀场管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        <li  class="showSquares"><a href="/hewuqi/showSquares"><i class="fa fa-caret-right"></i>赛事列表</a></li>
                        <li class="showsquareinfo"><a href="/hewuqi/showSquareInfo"><i class="fa fa-caret-right"></i>新增赛事</a></li>
                    </ul>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<script type="text/javascript" src="/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script>
//    $(document).ready(function(){

//        var storage = window.localStorage;
//        if(storage){
//            var data=localStorage.getItem('data')
//            data=JSON.parse(data);
//            //console.log(data)
//            var type=data.data.user_type;
//            if(type==1)
//            {
//                $('.treeview').show();
//            }else if(type==2){//课程管理员
//                $(".treeview[data-id='2']").show();
//                $(".treeview[data-id='3']").show();
//            }else if(type==3){//订阅管理员
//                $(".treeview[data-id='8']").show();
//            }
//        }
//    });
</script>