<style type="text/css">
    .wap-404 {
        padding: 32px 15px;
        text-align: center;
    }
    .mascot-obama {
        margin: 0 auto;
        width: 119px;
        height: 159px;
        background: url("/images/error_404.png") center center no-repeat;
        text-indent: -9999px;
    }
</style>
<div class="container">
    <div class="wap-404">
        <div class="mascot-obama">
        </div>
        <h1>对不起，您访问的页面已被删除或不存在。</h1>
    </div>
</div>