<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>用户绑定</title>
    <link href="/css/biz/hackerwechat/User_binding.css" rel="stylesheet" type="text/css">
    <link href="/css/biz/hackerwechat/weui.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="userBind">
    <img src="/images/hackerwechati/resume_title.png">
    <span class="userBindTxt">用户绑定</span>
</div>
<div class="content">
    <div class="userName">
        <span class="userNameTxt">用户名</span>
        <input class="userNameIn" placeholder="请输入您的手机号码" type="text">
    </div>
    <div class="checkName">
        <span class="checkNameTxt">验证码</span>
        <input class="checkNameIn" type="text">
        <input class="getBtn" type="button" value="获取验证码" id="btn">
    </div>
    <div class="sureBtn">
        <input class="sure_btn" type="button" value="确定" id="surebtn">
    </div>

</div>


<div class="weui_dialog_confirm" id="divalt6">
    <div class="weui_mask"></div>
    <div class="weui_dialog" id="divalt">
        <img src="/images/hackerwechati/cancel.jpg" id="cancelbtn" >
        <p class="tishi">验证码错误 </p>
        <div class="a2">
            <input type="button" class="btn" value="确定" id="surebtn1">
        </div>
    </div>

</div>
<!--<div class="weui_dialog_confirm" id="divalt5">-->
<!--<div class="weui_mask"></div>-->
<!--<div class="weui_dialog" id="divalt1">-->
<!--<img src="/images/hackerwechati/cancel.jpg" id="cancelbtn" >-->
<!--<div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>-->
<!--<p class="tishi1">绑定成功 </p>-->
<!--<div class="a21">-->
<!--&lt;!&ndash;<button class="btn"><a href="#" class="weui_btn_dialog primary" id="abhc">确定</a></button>&ndash;&gt;-->
<!--<input type="button" class="btn1" value="确定" id="surebtn1">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<script>
    var jscript = "<%=jscript%>";
</script>
<!-- RequireJs -->
<script src="/js/require.js" defer async="true" data-main="/js/main.js"></script>
</body>
</html>