<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/biz/hackerwechat/ApplicationProgress.css" rel="stylesheet" type="text/css">
    <link href="/css/biz/hackerwechat/weui.min.css" rel="stylesheet" type="text/css">
    <title>ApplicationProgress</title>
</head>
<body>
<div class="allbody">
    <img src="/images/hackerwechati/title1.png">
    <span style="position: absolute">申请进度</span>
    <div id="pbody">
        <div class="panel">
            <div class="little-panel">
                <img src="/images/hackerwechati/200821991449659_2.jpg" id="oneimg">
                <span class="ptext">核武器</span>
                <span class="htext">中国线上街舞第一品牌</span>
                <ul class="progress">
                    <li class="step-5 active"></li>
                    <li class="step-5 active"></li>
                    <li class="step-5"></li>
                    <li></li>
                </ul>
                <div class="content">
                    <p class="spant1">提交申请</p>
                    <p class="spant2">审核中</p>
                    <p class="spant3">预约面试</p>
                    <p class="spant4">申请通过</p>
                </div>
            </div>
            <div class="little-panel">
                <img src="/images/hackerwechati/200821991449659_2.jpg" id="twoimg">
                <span class="ptext">核武器</span>
                <span class="htext">中国线上街舞第一品牌</span>
                <ul class="progress">
                    <li class="step-5 active"></li>
                    <li class="step-5 active"></li>
                    <li class="step-5"></li>
                    <li></li>
                </ul>
                <div class="content">
                    <p class="spant1">提交申请</p>
                    <p class="spant2">审核中</p>
                    <p class="spant3">预约面试</p>
                    <p class="spant4">申请通过</p>
                </div>
            </div>
            <div class="little-panel">
                <img src="/images/hackerwechati/200821991449659_2.jpg" id="threeimg">
                <span class="ptext">核武器</span>
                <span class="htext">中国线上街舞第一品牌</span>
                <ul class="progress">
                    <li class="step-5 active"></li>
                    <li class="step-5 active"></li>
                    <li class="step-5"></li>
                    <li></li>
                </ul>
                <div class="content">
                    <p class="spant1">提交申请</p>
                    <p class="spant2">审核中</p>
                    <p class="spant3">预约面试</p>
                    <p class="spant4">申请通过</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>