<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/biz/hackerwechat/PersonalCenter.css" rel="stylesheet" type="text/css">
    <link href="/css/biz/hackerwechat/weui.min.css" rel="stylesheet" type="text/css">
    <title>Personal Center</title>
</head>
<body>
<div class="allbody">
    <div id="headname">
        <a href="/hackerwechat/UserBinding" style="text-decoration: none" id="alerayhave">绑定手机号</a>
        <img src="/images/hackerwechati/01.jpg"  id="headimg" >
        <p id="name" >陈肖剑</p>
        <div class="hacimg">
            <img src="/images/hackerwechati/grzx_reward.png">
        </div>
        <p id="name2">浙江杭州</p>
    </div>
    <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="/hackerwechat/DailyReport">
            <div class="weui_cell_hd">
                <img src="/images/hackerwechati/Justify-document.png" alt="icon" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>每日汇报</p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/hackerwechat/ApplicationProgress">
            <div class="weui_cell_hd">
                <img src="/images/hackerwechati/Calendar-page.png" alt="icon" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>申请进度</p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="#">
            <div class="weui_cell_hd">
                <img src="/images/hackerwechati/Calendar-page.png" alt="icon" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>我的消息</p>
            </div>
            <div class="notice">1</div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>


</div>
</body>
</html>