*{
    margin: 0;
    padding: 0;
    background-color: rgb(239,239,246);
}
.content{
    width: 100%;
    /*height: 1750px;*/
}
.weekReport img{
    margin-top: 8px;
    margin-left: 3%;

}
.weekReport .report-text{
    position: absolute;
    top: 14px;
    left: 14%;
}
.weekReport .time{
    font-size: 1px;
    position: absolute;
    top: 18px;
    left: 35%
}
.monday{
    width: 100%;
}
.monday .mon{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.mon .mon-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.mon img{
    margin-right: 10px;
    float: right;
    margin-top: 10px;

}
.mon-title{
    width: 100%;
}
.mon-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.tuesday{
    width: 100%;
}
.tuesday .tue{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.tue .tue-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.tue-title{
    width: 100%;
}
.tue-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    border-radius:3px ;
    border-style: none;
    margin-top: 10px;
}
.wednesday{
    width: 100%;
}
.wednesday .wed{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.wed .wed-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.wed-title{
    width: 100%;
}
.wed-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.thursday{
    width: 100%;
}
.thursday .thr{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.thr .thr-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.thr-title{
    width: 100%;
}
.thr-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.friday{
    width: 100%;
}
.friday .fri{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.fri .fri-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.fri-title{
    width: 100%;
}
.fri-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.saturday{
    width: 100%;
}
.saturday .sat{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.sat .sat-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.sat-title{
    width: 100%;
}
.sat-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.sunday{
    width: 100%;
}
.sunday .sun{
    width: 90%;
    margin-left: 5%;
    background-color:rgb(148,200,224);
    height: 35px;
    border-radius: 3px;
    margin-top: 10px;

}
.sun .sun-text{
    background-color:rgb(148,200,224);
    color: #fff;
    position: relative;
    top: 12px;
    left: 5%;

}
.sun-title{
    width: 100%;
}
.sun-title input{
    width: 90%;
    background-color: #fff;
    height: 35px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius:3px ;
    border-style: none;
}
.apply {
    width: 100%;
}
.apply .applyBtn{
    background-color: rgb(244,198,62);
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border-style: none;
    margin-bottom: 0;
    margin-top: 50px;

}