<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>核舞器-登录</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <% include ../layout/layout.ejs%>
    <script src="/js/require.js" defer async="true" data-main="/js/main.js"></script>
  </head>
  <body>

  <%- body%>

  </body>
</html>