
<link rel="stylesheet" href="/stylesheets/biz/login/findpwbyemail2.css" />
<style>
    .padding-left{
    width: 325px;
    margin-left: 150px;
    }
    .control-label{
    margin-left: 150px;
    }
</style>
<div class="container findpw-main">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="row findpw-head">
                <a class="logo" href="/"><img src="/images/yqslogo.png" alt="摇钱树" ></a>
                <span class="title">找回密码</span>
                <a class="" href="/">
                    <span class="regist">返回登录</span>
                </a>
            </div>


            <div class="row findpw-body">
                <section class="" style="left:25%;">
                    <form class="form-horizontal" role="form" action="/doResetByMail"  id="repwbyemail-form" >
                        <input type="hidden" name="t" value="" id="t"/>
                        <div class="form-group">
                            <label for="mobile" class="control-label">注册手机号</label>
                            </br>
                            <div class="padding-left" >
                                <input  class="form-control"  data-verify="empty mobile" value="" readonly="true"  name="mobile" id="mobile" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="control-label">新密码：</label>
                            </br>
                            <div class=" padding-left" >
                                <input type="password" class="form-control" id="password" data-verify="empty password" name="password"  placeholder="请输入新密码">
                            </div>


                        </div>



                        <div class="form-group">
                            <label for="password" class="control-label">密码确认：</label>
                            </br>
                            <div class=" padding-left" >
                                <input type="password" class="form-control" id="password2" data-verify="empty password twice" data-twice="password" name="password2" placeholder="再确认一次" >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="padding-left" >
                                <button type="submit" class="btn btn-submit">提交</button>
                            </div>
                        </div>

                    </form>
                </section>

                <section class="col-md-1"></section>

            </div>

        </div>
    </div>
</div>


<!--初始化当页脚本-->
<script>
    require('dmp-login/repwbyemail');
</script>

