<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>资讯管理</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
</head>
<!--<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>-->


<!--  内容列表   -->
<form name="form2">

<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" colspan="10" background="skin/images/tbg.gif">&nbsp;活动列表&nbsp;</td>
</tr>
<tr align="center" bgcolor="#FAFAF1" height="22">
	<td width="9%">主题</td>
	<td width="7%">主办方</td>
	<td width="15%">简介</td>
	<td width="8%">创建时间</td>
	<td width="8%">开始时间</td>
	<td width="8%">报名截止时间</td>
	<td width="8%">图片</td>
	<td width="8%">地址</td>
	<td width="5%">图片标题</td>
	<td width="10%">操作</td>

</tr>
<volist name="activitys" id="vo">
<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22" >
	<td>{$vo.title}</td>
	<td align="left">{$vo.presenter}</td>
	<td>{$vo.activity_intro}</td>
	<td>{$vo.create_time}</td>
	<td>{$vo.start_time}</td>
	<td>{$vo.expirt_time}</td>
	<td><a href="{$vo.pic_url}" >查看图片</a></td>
	<td>{$vo.address}</td>
	<td>{$vo.pic_title}</td>
	<td><a href="__URL__/update/activity_id/{$vo.activity_id}">编辑</a> | <a href="__URL__/delActivity/activity_id/{$vo.activity_id}">删除</a>| <a href="__MODULE__/group/getGroup/activity_id/{$vo.activity_id}">团队</a></td>
</tr>
</volist>
	<td height="36" colspan="10" align="center">{$page}</td>
</tr>
</table>

</form>

</body>
</html>
