body{
    background-color: white !important;
}
.address_list .act {
    width: 100%;
    color: #fff;
    font-size: 12px;
    background-color: #ffffff;
    height: 30px;
    position: relative;
}
.selected .simple-indicator {
    position: absolute;
    left: 5px;
    outline: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #DD2727;
    background-color: #fff;
}
.selected .simple-indicator:after {
    position: absolute;
    top: 3px;
    right: 6px;
    z-index: 2;
    width: 5px;
    height: 9px;
    border: solid 2px #DD2727;
    border-width: 0 1px 1px 0;
    content: "\0020";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.opt {
    padding-top: 15px;
}
.deladdr {
    position: relative;
    padding-left: 22px;
}
.deladdr i{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAfUlEQVQ4jWNkwARFDAwMlljEGRgYGI4zMDD04ZCDg9WkyDEiCaoxMDAIMTAwCBOw4C0DA8M7BgaGW6TYjFMtEw4FqlBaGOoqZDEUgMuAVijtxMDA4IwmRpQBRINRAwaDASw4xHdA6TsMDAz/0cRwArKSMroLSDGEgYGBgQEAsdwPvv4vL04AAAAASUVORK5CYII=")no-repeat;
    background-size: 16px 16px;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 2px;
}