p.addred{
    background: url("/images/wap/bottom/cart1-1.png") no-repeat;
    background-size: 20px 16px;
    background-position: center;
}
p.img {
    width: 100%;
    height: 20px;
}
.new_cart{
    width: 20%;
    height: 20px;
    position: absolute;
    left: 15%;
    top: 26%;
}
.yc {
    display: none;
}
.parameters > table{
    background-color: #fff;
    padding: 15px;
    width: 100%;
}
.parameters > table tr{
    height: 30px;
}
.parameters > table .title-td{
    width: 40%;
}
.parameters > table .content-td{
}
.desc h1{color:#A72634}

.add_module{
    width£º100%;
    text-align: center;
    font-size: 15px;
}

.add_num{
    text-align: center;
    font-size: 15px;
}