<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <input type="hidden"  id="link" name="link" value="" >
            <div class="box-body">
                <div class="searchbox"><input type="text" style="width: 410px;display:inline;" placeholder="请输入文章标题" class="keyword " name="keyword"><button type="submit" class="btn btn-primary searchBtn artbtn" style="margin-left: 20px;">搜&nbsp;索</button></div>
                <div class="row dataArea"  style="margin-top:15px; display:none;"><!--选择数据-->

                </div>
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </div>

</section><!-- /.content -->

<script>


</script>