<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- general form elements -->
        <div class="box box-primary" style="box-shadow: none;">
            <!-- form start -->
            <div class="box-body">
                <span style="padding:5px 10px;">公告:</span><input type="text" style="width: 410px;display:inline;" placeholder="请输入公告内容" class="up-noticeword " name="noticeword">
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </div>

</section><!-- /.content -->

<script>


</script>