<li><div class="module-box prodmodule2" data-type="7">
        <div class="col-md-6 col-sm-6 p1 p2d clickable" data-pos="1"><i class="fa fa-plus"></i></div>
        <div class="col-md-6 col-sm-6 p2 p2d clickable" data-pos="2"><i class="fa fa-plus"></i></div>
        <div class="col-md-6 col-sm-6 p3 p2d clickable" data-pos="3"><i class="fa fa-plus"></i></div>
        <div class="col-md-6 col-sm-6 p4 p2d clickable" data-pos="4"><i class="fa fa-plus"></i></div>
        <span class="glyphicon glyphicon-remove-circle img-del" style="right:0;"></span>
</div></li>