<li><div class="module-box seckill" data-type="4">
    <div class="col-md-6 col-sm-6 p1 clickable" data-pos="1"><i class="fa fa-plus"></i></div>
    <div class="col-md-6 col-sm-6">
        <div class="row p2 skd clickable" data-pos="2"><i class="fa fa-plus"></i></div>
        <div class="row ">
            <div class="col-md-6 col-sm-6 p3 skd clickable" data-pos="3"><i class="fa fa-plus"></i></div>
            <div class="col-md-6 col-sm-6 p4 skd clickable" data-pos="4"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <span class="glyphicon glyphicon-remove-circle img-del" style="right:0;"></span>
</div></li>
