<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>DailyReport</title>
    <link rel="stylesheet" href="/css/biz/hackerwechat/Daily_report.css" type="text/css">
    <link rel="stylesheet" href="/css/biz/hackerwechat/weui.min.css" type="text/css">

</head>
<body>
<div class="daily_report">
    <img src="/images/hackerwechati/resume_title.png">
    <span class="reportTxt">每日汇报</span>
</div>
<div class="content">
    <div class="data_anal">
        <span class="text">数据分析</span>
    </div>
    <div class="article_title">
        <input class="article_titleIn" placeholder="  文章标题" type="text">
    </div>
    <div class="send_time">
        <input class="send_timeIn" placeholder="  发送时间" type="text">
    </div>
    <div class="service_num">
        <input class="service_numIn" placeholder="  送达人数" type="text">
    </div>
    <div class="read_num">
        <input class="read_numIn" placeholder="  阅读人数" type="text">
    </div>
    <div class="share_num">
        <input class="share_numIn" placeholder="  分享转发次数" type="text">
    </div>
    <div class="like_num">
        <input class="like_numIn" placeholder="  点赞人数" type="text">
    </div>
    <div class="submitBtn" >
        <input type="submit" class="submit_btn" value="提交" >
    </div>
    <div class="weui_dialog_confirm" id="divalt6">
        <div class="weui_mask"></div>
        <div class="weui_dialog" id="divalt1">
            <!--<div class="weui_dialog_bd" id="divalt1">确认提交?</div>-->
            <div class="weui_icon_area1"><i class="weui_icon_success weui_icon_msg"></i></div>
            <p class="tishi1">提交成功 </p>
            <div class="a21">
                <!--<button class="btn"><a href="#" class="weui_btn_dialog primary" id="abhc">确定</a></button>-->
                <input type="button" class="btn1" value="确定">
            </div>
        </div>

    </div>

</div>
<script>
        document.getElementById('divalt6').style.display = "none";//隐藏

</script>
</body>
</html>