<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="__PUBLIC__/css/public.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/houtai.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/smartMenu.css" type="text/css" rel="stylesheet">
    <title>骇客学院</title>
</head>
<body>
<div id="admin">
    <div class="ad-menu" id="ad-menu">
        <div class="ad-list">
            <ul>
                <!--每日汇报-->
                <li>
                    <div class="li-item"><em class="scm li-ico ic6"></em>每日汇报<span class="scm arrow"></span></div>
                    <dl>
                        <dd>
                            <a href="__URL__/test" target="iframe0" class="dd-item">第三天<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>
                <!--用户管理-->
                <li>
                    <div class="li-item"><em class="scm li-ico ic1"></em>用户管理<span class="scm arrow"></span></div>
                    <dl>
                        <dd>
                            <a href="#" class="dd-item">用户列表<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>
                <!--活动管理-->
                <li>
                    <div class="li-item"><em class="scm li-ico ic2"></em>活动管理<span class="scm arrow"></span></div>
                    <dl>
                        <dd>
                            <a href="#" class="dd-item">活动列表<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>
                <!--资讯管理-->
                <li>
                    <div class="li-item"><em class="scm li-ico ic3"></em>资讯管理<span class="scm arrow"></span></div>
                    <dl>
                        <dd>
                            <a href="#" class="dd-item">资讯列表<span class="scm dd-ar"></span></a>
            </dd>
            </dl>
            </li>

            <!--消息管理-->
            <li>
                <div class="li-item"><em class="scm li-ico ic4"></em>消息管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="#" class="dd-item">校友高级搜索<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
            <!--课程管理-->
            <li>
                <div class="li-item"><em class="scm li-ico ic5"></em>课程管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="#" class="dd-item">校友高级搜索<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
            <!--活动进度-->
            <li>
                <div class="li-item"><em class="scm li-ico ic7"></em>活动进度<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="#" class="dd-item">校友高级搜索<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
            </ul>
        </div>
    </div>

    <div class="ad-comment-box" id="ad-comment">
        <div class="ad-top-comment">
            <div class="ad-message">
                <div class="ad-top-left">
                    <div class="ad-change-btn"><a id="ad-list" href="javascript:;" class="scm ad-list-btn"></a></div>
                    <div class="ad-search-box clear">
                        <div class="ad-search-sel">
                            <select>
                                <option>当前活动</option>
                                <option>上一次</option>
                                <option>上上次</option>
                            </select>
                        </div>
                        <div class="ad-search-cha">
                            <input type="text" class="ad-search-input" placeholder="请输入你要查找的内容">
                            <input type="submit" class="scm ad-search-btn" value="">
                        </div>
                    </div>
                </div>
                <div class="ad-top-right">
                    <div class="ad-notice">
                        <ul>
                            <li>
                                <a href="javascript:;" class="scm nt3"><span class="scm nt-count dot">12</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="ad-welcom">
                        <div class="ad-wel-img"><img src="image/picture1.png" height="36" width="36"></div>
                        <div class="ad-wel-text">
                            <div class="font-wel">欢迎您！<strong>李自明</strong></div>
                            <div class="font-wel"><a href="javascript:;"><strong>【退出】</strong></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-main-comment J_mainContent" id="ad-iframe">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="index_v0.html" frameborder="0"
                    data-id="index_v0.html" seamless></iframe>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/contabs.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/maintabs.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-smartMenu-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".ad-menu").niceScroll({
            cursorborder: "0 none",
            cursorcolor: "#1a1a19",
            cursoropacitymin: "0",
            boxzoom: false
        });
    })
</script>
</body>
</html>
